@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-color: #9333ea;
        --secondary-color: #FDECEB;
        --tertiary-color: #E11C48;
        --font-main: system-ui, sans-serif;
    }

}

body {
    font-family: var(--font-main);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

